include ../../mixins/layoutPartions/_pagination

mixin table(sales = {})
  .card.table-with-links
    .card-header
      h4.card-title #{title}
      if !sales.length
        p Нету добавленных акицй
      //- p.card-category Here is a subtitle for this table
    if sales.length
      .card-body.table-full-width
        table.table
          thead
            tr
              th.text-center #
              th Наименование
              th Опубликована
              th.text-right Действия
          tbody
            each sale, index in sales
              tr
                td.text-center #{index + 1}
                td #{sale.name}
                td
                  .form-check
                    label.form-check-label
                      if sale.visible === 'true'
                        input#checkboxSentAjax.form-check-input(type='checkbox' checked)
                      else
                        input#checkboxSentAjax.form-check-input(type='checkbox')
                      span.form-check-sign
                      pre(data-url=`/admin/sale/add/${sale._id}` data-prop='visible' style='display: none;')
                td.td-actions.text-right
                  //- a.btn.btn-info.btn-link.btn-xs(href='#', rel='tooltip', title='View Profile')
                  //-   i.fa.fa-user
                  a.btn.btn-success.btn-link.btn-xs(href=`/admin/sale/add/${sale._id}`, rel='tooltip', title='Редактировать')
                    i.fa.fa-edit
                  a.btn.btn-danger.btn-link.btn-xs(href=`/admin/sale/delete/${sale._id}`, rel='tooltip', title='Удалить')
                    i.fa.fa-times
        if pages > 1
          +pagination('main-slider', page, pages, count)