mixin table(engravings = {})
  .card.table-with-links
    .card-header
      h4.card-title #{title}
      if !engravings.length
        p Нету добавленных записей
      //- p.card-category Here is a subtitle for this table
    if engravings.length
      .card-body.table-full-width
        table.table
          thead
            tr
              th.text-center #
              th Заголовок
              th Фото
              th.text-right Действия
          tbody
            each w, index in engravings
              tr
                td.text-center #{index + 1}
                td #{w.desc}
                td
                  img(src=`/uploads/engraving/${w.photo}` style="width: 10%")
                td.td-actions.text-right
                  //- a.btn.btn-info.btn-link.btn-xs(href='#', rel='tooltip', title='View Profile')
                  //-   i.fa.fa-user
                  a.btn.btn-success.btn-link.btn-xs(href=`/engraving/add/${w._id}`, rel='tooltip', title='Редактировать')
                    i.fa.fa-edit
                  a.btn.btn-danger.btn-link.btn-xs(href=`/engraving/delete/${w._id}`, rel='tooltip', title='Удалить')
                    i.fa.fa-times