mixin form(whyus = {})
  .card.stacked-form
    .card-header
      h4.card-title Создание категории
    .card-body
      form(method='POST', action=`/whyus/add/${whyus._id ? whyus._id : ''}`)
        .form-group
          label Заголовк
          input.form-control(type='text', name='title' value=whyus.title placeholder='Заголовк')
        .form-group
          label Текст
          input.form-control(type='text', name='text' value=whyus.text placeholder='Текст')
        //- .form-group
        //-   .form-check
        //-     label.form-check-label
        //-       if whyus.visible === 'true'
        //-         input#inp.form-check-input(type='checkbox' value='' checked)
        //-       else
        //-         input#inp.form-check-input(type='checkbox' value='')
        //-       span.form-check-sign
        //-       | Опубликована
        //-       input#hidden(type='hidden', name='visible', value=`${whyus.visible || 'false'}`)
        button.btn.btn-fill.btn-info(type='submit')
          | #{whyus._id ? 'Редактировать' : 'Создать'}
          i.fa.fa-check